services:
  email-fetcher:
    build: .
    image: email-fetcher
    container_name: email-fetcher
    volumes:
      - ./accounts.list:/app/accounts.list
      - getmail-data:/home/getmail/.getmail # Use named volume to let Docker manage permissions

    networks:
      - mailcow-network
    dns:
      - ${DNS_SERVER:-1.1.1.1}
    restart: unless-stopped
    environment:
      - FETCH_INTERVAL=${FETCH_INTERVAL} # Seconds
      - DELETE_AFTER_DAYS=${DELETE_AFTER_DAYS} # Days to leave mail on server
      - SUCCESS_HOOK_URL=${SUCCESS_HOOK_URL}
      - DRY_DELIVER=${DRY_DELIVER:-false}

volumes:
  getmail-data:
networks:
  mailcow-network:
    external: true
    name: mailcowdockerized_mailcow-network